* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(105, 101, 101);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.stopWatch {
  background-color: black;
  padding: 20px 24px;
  border-radius: 10px;
}

.timeDisplay {
  font-size: 100px;
  /* font-wight: 600; */
}

.button {
  margin-top: 20px;
}

.BTN1 {
  font-size: 20px;
  background: none;
  color: white;
  background-color: var(--clr);
  padding: 12px 24px;
  margin-inline: 12px;
  border-radius: 8px;
  cursor: pointer;
}