body {
    font-family: Arial, sans-serif;
    background-color: #ead2a4;
    background: linear-gradient(to right,#cfe9f7,#fff3cc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    font-size: 12px;
    color: blue;
}