
*{
    color: aliceblue;
}
#navbar {
    height: 60px;
    background-color: #000;
    
}
#logo{
    color: aliceblue;
}
button{
    background-color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox{
    height:100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
}