body {
    font-family: Arial, sans-serif;
    background-color: #f2f3f7;
}

.container {
    width: 900px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.login-box {
    width: 50%;
    padding: 40px;
}


.login-box button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    background-color: #000;
    color: white;
}

button:hover {
    background: darkgreen;
}

.apple {
    background-color: black;
    color: white;
}
p{
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: purple;
}

.login {
    background-color: #6a5acd;
    color: white;
}

.image-box {
    width: 50%;
    height: 40%;
    background-color: #eef1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

